.process .row {
    justify-content: center;
}

.process-content {
    margin-top: 100px;
}

.progress-bar {
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
}

.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
}

.progress-bar .c1 {
    top: -8px;
    left: 50px;
}

.progress-bar .c2 {
    top: -8px;
    left: 50%;
}

.progress-bar .c3 {
    top: -8px;
    right: 50px;
}


.box1,
.box2,
.box3 {
    padding: 1.8rem;
}

.process .box2 {
    text-align: center;
}

.process .box3 {
    text-align: right;
}

.process-content h2 {
    color: #4CAF50;
}

/* Testimony */
.testimony {
    background-color: #222;
    color: whitesmoke;
}

.testimony .test {
    background-color: #505050;
    padding: 4rem 8rem;
    margin: 0 1rem;
}

.testimony .image {
    height: 80px;
    width: 80px;
}

.testimony img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/* Contact */
.contact .row {
    justify-content: center;
}

.contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input {
    width: 50%;
}

.contact textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    resize: none;
    color: #ccc;
    margin: 1.2rem 0;
    font-family: "Poppins", sans-serif;
}